<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jobpaoo</title>
    
    <link href="/static/css/nav.css" rel="stylesheet">
</head>
<body>
    <!-- Nav Bar Start -->
    
    <div class="navbar">
        <div class="logo">
            <h1>LOGO</h1>
        </div>
        <div class="content">
            <p>HOME</p>
            <p>Find jobs</p>
            <p>Compaines</p>
            <p>Community</p>
        </div>
        <div class="button">
            <button class="login">LOG IN</button>
            <button class="signup">SIGN UP</button>
        </div>
    </div>
    
    <!-- Nav Bar End -->

    {% block content %}
    {% endblock %}
</body>
</html>