{% extends "base.html" %}
{% block content %}

<div class="maincont">
    <div class="inputkeyword">
        <input type="text" placeholder="Enter Keywords">
        <input type="text" placeholder="Enter Location">
        <a>Search Jobs</a>
    </div>
    
</div>

<div class="datacont">
    <h2>Jobs</h2>
    {% if jobs %}
    {% for job in jobs %}
    <div class="datacard">
        <h1 class="job_head">{{job.job_head}}</h1>
        <h3 class="job_location"><i class="fa-solid fa-location-dot"></i> {{job.job_location}}</h3>
        <hr>
        <h4>Minimum qualifications</h4>
        <ul>
            <li class="job_qual1">{{job.job_qual1}}</li>
            <li class="job_qual2">{{job.job_qual2}}</li>
            <li class="job_qual3">{{job.job_qual3}}</li>
        </ul>
        <a href="" class="button">Apply Now</a>
    </div>
    {% endfor %}
    {% else %}
    <h4>No Data Found</h4>
    {% endif %}
</div>
{%endblock%}