{% extends "base.html" %}
{% block content %}

<div class="header">
    <div class="content">
        <h1>Unlock Your Dream Career with WorkNest</h1>
        <p>Discover Opportunities, Connect with Employers and Take the next Step Towards a Fulfilling Work life</p>
        <button class="getstarted">GET STARTED</button>
    </div>
    <div class="employee">
        <img src="/static/img/emp1.png" alt="" class="employeeimg">
    </div>
</div>
<div class="tools">
    <h1>Tools</h1>
    <div class="tooltext">
        <div class="section">
            <div class="sect1">
                <h4><i class="fa-solid fa-user-tie"></i></h4>
                <div class="sec">
                    <h2>Resume/ CV</h2>
                    <p>Create and edit professional resumes step-by-step.</p>
                </div>
            </div>
            <div class="sect1">
                <h4><i class="fa-regular fa-envelope"></i></h4>
                <div class="sec">
                    <h2>Cover letter</h2>
                    <p>Write impressive cover letters with ease.</p>
                </div>
            </div>
            <div class="sect1">
                <h4><i class="fa-solid fa-suitcase"></i></h4>
                <div class="sec">
                    <h2>Jobs</h2>
                    <p>Access to the most complete source of relevant jobs.</p>
                </div>
            </div>
            <div class="sect1">
                <h4><i class="fa-regular fa-envelope"></i></h4>
                <div class="sec">
                    <h2>Applications</h2>
                    <p>Organize and manage outstanding job applications.</p>
                </div>
            </div>
        </div>
        <div class="imgtools">
            <img src="/static/img/our-tools-step-1.svg" alt="">
        </div>
    </div>
</div>



{% endblock %}