{% extends "base.html" %}
{% block content %}

<div class="header">
    <div class="content">
        <h1>Unlock Your Dream <span>Career with WorkNest</span></h1>
        <p>Discover Opportunities, Connect with Employers and Take the next Step Towards a Fulfilling Work life</p>
        {% if user.is_authenticated %}
        <a class="getstarted" href="{% url  'adddetails' %}">GET STARTED</a>
        {%else%}
        <a class="getstarted" href="{% url  'login' %}">GET STARTED</a>
        {%endif%}
    </div>
    <div class="employee">
        <img src="/static/img/emp1.png" alt="" class="employeeimg">
    </div>
</div>

<div class="tools">
    <h1>Tools</h1>
    <div class="tooltext">
        <div class="section">
            <div class="sect1">
                <h4><i class="fa-solid fa-user-tie"></i></h4>
                <div class="sec">
                    <h2>Resume/ CV</h2>
                    <p>Create and edit professional resumes step-by-step.</p>
                </div>
            </div>
            <div class="sect1" style="position: relative;right: 39px;">
                <h4><i class="fa-regular fa-envelope"></i></h4>
                <div class="sec" style="position: relative;right: 21px;">
                    <h2>Cover letter</h2>
                    <p>Write impressive cover letters with ease.</p>
                </div>
            </div>
            <div class="sect1">
                <h4><i class="fa-solid fa-suitcase"></i></h4>
                <div class="sec">
                    <h2>Jobs</h2>
                    <p>Access to the most complete source of relevant jobs.</p>
                </div>
            </div>
            <div class="sect1">
                <h4><i class="fa-regular fa-envelope"></i></h4>
                <div class="sec">
                    <h2>Applications</h2>
                    <p>Organize and manage outstanding job applications.</p>
                </div>
            </div>
        </div>
        <div class="imgtools">
            <img src="/static/img/our-tools-step-1.svg" alt="">
        </div>
    </div>
</div>

<div class="reviews">
    <h1>Reviews</h1>
    <h2>4.5/5 <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i></h2>
    <h3>Based on many reviews</h3>
    <div class="container">
        <div class="card1">
            <img src="/static/img/emp2.jpeg" alt="">
            <h3>Sam</h3>
            <h4>Web Developer</h4>
            <p>Intuitively designed to offer job seekers the tools they need when applying for a job.</p>
        </div>
        <div class="card1">
            <img src="/static/img/emp3.jpeg" alt="">
            <h3>Tim</h3>
            <h4>Software Developer</h4>
            <p>A comprehensive platform with resources and tools for producing high-quality CVs and cover letters.</p>
        </div>
        <div class="card1">
            <img src="/static/img/emp4.jpeg" alt="">
            <h3>Mark</h3>
            <h4>AI Developer</h4>
            <p>Great website with lots of interesting vacancies. Applying for jobs has never been easier.</p>
        </div>
    </div>
</div>
<footer>
    <div class="footer">
        <div class="row">
            <a href="#"><i class="fa-brands fa-facebook"></i></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </div>
            
        <div class="row">
            <ul>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Career</a></li>
            </ul>
        </div>
        
        <div class="row">
            H.C Copyright © 2024 HAAD - All rights reserved || Designed By: HAAD 
        </div>
    </div>
</footer>
    


{% endblock %}